@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.warehouses {
    background-color: $bkgdlight;
    &__container {
        position: relative;
        top: -4rem;
        background-color: $primarylight;
        margin: 0 5vw;
        box-shadow: 0 0 1px $secondarylight;
        @include tablet {
            top: -88px;
        }
    }
    &__header {
        position: relative;
        border-bottom: 1px solid $secondarylight;
        padding: 2rem 5vw;
        padding-bottom: 1rem;
        @include tablet {
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__title {
        @include header;
        padding-bottom: 1rem;
        @include tablet {
            padding: 0;
        }
        
    }
    &__input {
        box-sizing: border-box;
        border: 1px solid $secondarylight;
        background: url(../../assets/icons/search-24px.svg) no-repeat scroll calc(100% - 7px) 7px, $primarylight;
        border-radius: 20px;
        padding: 0 8px;
        height: 36px;
        width: 100%;
        margin-bottom: 0.5rem;
        @include medbody;
        color: $secondarydark;
        @include tablet {
            height: 38px;
            width: 185px;
            margin: 0;
            margin-left: 1rem;
        }
    }
    &__button {
        @extend .warehouses__input;
        border-color: transparent;
        background: none;
        background-color: $primarymed;
        color: $primarylight;
    }
    &-card__hearder{
        display: none;
        @include tablet {
            display: block;
        }
        padding: 1rem 5vw;
        background-color: $bkgdlight;
        &-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
        }  
        &-item {
            display: flex;
            align-items: center;
            @include smallbody;
            color: $secondarydark;
            padding: 0.5rem 0;
            width: 130px;
            padding-left: 1rem;
            @include desktop {
                width: 200px;
            }
            &:first-of-type {
                padding-left: 0;
            }
            &--float {
                padding-right: 1rem;
                width: fit-content;
                position: absolute;
                right: 5vw;
            }
        }
    }
}