@import '../../styles/partials/mixins';

.inventory {
    width: 93%;
    margin: auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.164);
    margin-top: -14%;
    margin-bottom: 150px;

    @include desktop {
        margin-top: -5%;
        width: 90%;
    }

    &__header {
        display: flex;
        padding-top: 5%;
        font-size: 1.2rem;
        letter-spacing: 0.04rem;
        width: 80%;
        padding-left: 8%;

        @include tablet {
            padding-left: 4%;
            width: 100%;
            border-bottom: 1px solid #BDC5D5;
        }

        @include desktop {
            font-size: 1.4rem;
            padding-top: 2%;
            padding-left: 5%;
        }
    }

    &__new {
        @include tablet {
            margin-top: 0;
        }
    }

    &__arrow {
        padding-right: 2%;
        padding-bottom: 14%;

        @include tablet {
            margin-top: 0;
            padding-bottom: 4%;
        }

        @include desktop {
            padding-bottom: 1.8%;
        }

    }

    &__item-details {
        border-top: 1px solid #BDC5D5;
        padding-left: 8%;

        @include tablet {
            padding-left: 10%;
            border-right: 1px solid #BDC5D5;
            height: 90%;
            border-top: none;
        }

    }

    &__details {
        font-size: 1.2rem;

        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size: 1.4rem;
        }

    }

    &__item-name {
        font-size: 0.8rem;
        margin-bottom: 0;
        padding-bottom: 0.2rem;
        color: #13182c;

        @include desktop {
            font-size: 0.9rem;
        }
    }

    &__input-item {
        width: 90%;
        @include inputstyle;
        @include inputsmallheight;
        @include inputseparation;

        @include desktop {
            @include inputlargeheight;
            padding-left: 1.9%;
        }
    }

    &__input-description {
        width: 90%;
        height: 9em;
        @include inputstyle;
        border-radius: 20px;
        padding-bottom: 22%;
        @include inputseparation;

        @include desktop {
            font-size: 0.9rem;
            padding-bottom: 10%;
            padding-left: 1.9%;
        }
    }

    &__input-category {
        width: 90%;
        @include inputsmallheight;
        @include inputstyle;
        @include smallinputdropdown;
        @include inputseparation;

        @include desktop {
            @include inputlargeheight;
            padding-left: 1.9%;
        }
    }


    &__item-availability {
        padding-left: 8%;
        border-top: 1px solid #BDC5D5;

        @include tablet {
            padding-left: 0;
            padding-left: 10%;
            border-right: 1px solid #BDC5D5;
            height: 90%;
            border-top: none;
        }
    }

    &__availability {
        font-size: 1.2rem;

        @include tablet {
            font-size: 1.5rem;
        }

    }

    &__status-container {
        display: flex;
        flex-direction: row;
    }

    &__input-quantity {
        @include inputstyle;
        @include inputsmallheight;
        @include inputseparation;

        @include desktop {
            @include inputlargeheight
        }

        @include desktop {
            width: 15%;
            padding-left: 1.9%;
        }
    }

    &__input-warehouses {
        @include inputstyle;
        @include inputsmallheight;
        @include smallinputdropdown;
        @include inputseparation;

        @include desktop {
            @include inputlargeheight
        }
    }

    &__instock {
        margin-right: auto;
        @include inputseparation;
    }

    &__instock-label {
        padding-left: 8px;
    }

    &__button-container {
        display: flex;
        justify-content: space-evenly;
        background-color: #F9FAFB;
        padding: 30px 0;
    }

    &__cancel-button {
        background-color: white;
        @include button (#fff, #BDC5D5);
        font-family: 'trillium regular';
        width: 40%;

        &:hover {
            border-color: #2E66E5
        }

        @include tablet {
            width: 10%;
            margin-left: 67%;
        }

        @include desktop {
            width: 4.2%;
            margin-left: 87%;
        }
    }

    &__add-button {
        @include button(#2E66E5, #2E66E5);
        color: white;
        font-family: 'trillium regular';
        width: 40%;

        &:hover {
            background-color: #13182c;
        }

        @include tablet {
            width: 13.5%;
            margin-right: 2.5%;
        }

        @include desktop {
            width: 6%;
            margin-left: 1%;
        }
    }

    &__input-warehouses {
        @include inputstyle;
        @include inputsmallheight;
        appearance: none;
    }


    &__validation-error {
        color: red;
        display: flex;
    }

    &__error-image {
        padding-right: 8px;
    }

    &__border-error {
        border: red solid 1px;
    }

    &__breakpoint {
        @include tablet {
            display: flex;
            justify-content: space-around;
        }
    }

    &__details-breakpoint {
        @include tablet {
            width: 50%;
            padding-bottom: 2%;
        }
    }

    &__availability-breakpoint {
        @include tablet {
            width: 50%;
        }
    }
}