$primarydark: #13182C;
$primarymed: #2E66E5;
$primarylight: #FFFFFF;

$secondarydark: #5C667E;
$secondarylight: #BDC5D5;

$bkgddark: #232940;
$bkgdlight: #f7f8f9;

$supportdark: #158463;
$supportlight: #c94515;

$errorColor: red;
