@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-edit {
    margin-left: 1rem;
    margin-right: 1rem;
    border: 1px solid $secondarylight; 
    margin-top: -4rem;
    background-color: $primarylight;
    border-radius: 4px;

    &__header {
        width: 100%;
    }

    &__subheader {
        padding-left: 1rem;
        padding-top: 1rem;
        border-top: 1px solid $secondarylight;
        @include mobilesub;
    }

    &__card {
        @include flexcolumn;
    }

    &__contactdetails {
        @include flexcolumn;
    }

    &__label,
    &__input {
        border-radius: 1.25rem;
        box-shadow: none;
        @include mobilesmallbody;
        border-color: $secondarylight;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    &__label {
        margin-left: 1rem;
    }

    &__input {
        @include formpadding;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}